@tailwind components;
@tailwind base;
@tailwind utilities;

.header-active {
  position: fixed;
  top: -70px;
  left: 0;
  right: 0;
  /* background: rgba(10, 25, 47, 0.85); */
  transform: translateY(70px);
  transition: transform 500ms ease, background 500ms ease;
}

.popover {
  top: 100%;
  right: 0;
  position: absolute;
  will-change: transform;
  animation: PopoverEnterAnimation 0.2s cubic-bezier(0.4, 0, 0.6, 1);
  opacity: 1;
  z-index: 400;
  border: 1px solid rgba(0, 0, 0, 0.09);
}
.popover-arrow {
    border-bottom: 10px solid rgb(255, 255, 255);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    top: -10px;
    position: absolute;
    right: 6px;
    width: 0;
    height: 0;
  }
  .popover-content {
    box-shadow: 0 1px 3.125rem 0 rgb(0 0 0 /20%);
    border-radius: 0.125rem;
    overflow: hidden;
    background-color: #fff;
  }
  .popover:before {
    position: absolute;
    top: -10px;
    left: 0;
    content: "";
    height: 10px;
    opacity: 0;
    width: 100%;
  }
